# Assignment Day-6

## Question 1:

__*Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.__

In [158]:
# lets take a random email address
email = "johncoder@yahoo.com"


# we will slice the email one more index from '@' symbol till '.' and we will find the indexes of these symbols by using find() function 

comapany_name = email[int(email.find("@"))+1:email.find(".")]


print("Input :-\n",email)

print("\nOutput :-\n",comapany_name)

Input :-
 johncoder@yahoo.com

Output :-
 yahoo

## Question 2:

__*Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.__

In [58]:
# lets create a list of words

li_st = ["Banana","Pineapple","Apple", "Musk Melon", "strawberry"]


# We will use the built-in sorted() function to sort the values alphabatically

sorted_list = sorted(li_st)

# these are the additional statements to show the result in a better from
print("Input :-")
for i in li_st:
    print(i, end=",")
    

print("\nOutput :-")
for i in sorted_list:
    print(i, end=",")

Input :-
Banana,Pineapple,Apple,Musk Melon,strawberry,
Output :-
Apple,Banana,Musk Melon,Pineapple,strawberry,

## Quesion 3:

__*Create your own Jupyter Notebook for Sets.__

__Sets are sequence type to store more than one values of any data type. But they only store unique values which means if you convert any other sequence type that consist of any duplicate value, the new sequence will not contain the duplicate value. Sets are defined by using set() or by just enclosing values by curly braces {}. sets are very useful in performing mathematical operations such as union, difference, intersection etc__

In [149]:
# it is set containing integer values 

a = {1,2,4,6,8,8}
print(a)

# it is a set contaning alphabetic values

b = {"Banana","Apple","Pineapple", "Strawberry"}
print(b)

# it is a set contaning mix data types

mix = {"Apple",100,56,6.5,3+6j}
print(mix)

{1, 2, 4, 6, 8}
{'Strawberry', 'Pineapple', 'Banana', 'Apple'}
{100, 'Apple', 6.5, (3+6j), 56}

__Observe the above output, it indicates that set only accepts unique values and the downside of sets is that sets are unordered and unindexed. which means that unlike list we can access any specific element of the set and also we can cannot slice the sets to retrieve the desired values of the sets. Because sets are unordered so that we can not be sure about the order of the output and cannot perform operations which are based on order__

In [96]:
# This code will throw error because we are trying to access a value through indexing

c = {10,56,54,23,87,23,43,12}

#print(c[2]) don't execute this line it will throw an error


# In the same way if we try to slice the set the error will be thrown

#print(c[2:7]) don't execute this line it will throw an error

__If you want to print all the elements of a set you can use 'for loop' to do so. To check if any item is available in the set use in or not in operator__

In [129]:
d = {12,34,56,78,87,89,23}

for i in d:
    print(i)
    
if 34 in d:
    print("Yes 34 is available in the set")

34
12
78
23
87
56
89
Yes 34 is available in the set

__Use 'add' or 'update' method to add new values in the set, 'clear' to clear all the values and 'remove' to or 'discard' method remove any specific value__

In [148]:
set_1 = {"Banana","Apple","Orange","Pineapple"}

# to add only one value we will use 'add' function
set_1.add("Strawberry")
print(set_1)

# to add more than value together use 'update' function
new_set = {"Water melon","Plum","Grapes"}
set_1.update(new_set)
print(set_1)

# to clear all the values from a set use clear function  
set_1.clear()
print(set_1)


# to remove a specific value use 'remove' or 'discard'
new_set.remove("Plum")
print(new_set)

new_set.discard("Grapes")
print(new_set)

{'Apple', 'Pineapple', 'Orange', 'Banana', 'Strawberry'}
{'Grapes', 'Apple', 'Pineapple', 'Orange', 'Plum', 'Water melon', 'Banana', 'Strawberry'}
set()
{'Water melon', 'Grapes'}
{'Water melon'}

__One of the main advantages of using sets is the facility to perform mathematical operations__

In [153]:
set1 = {10,20,45,87,40}
set2 = (40,50,60,70,10)

union_set = set1.union(set2)
print(union_set)

inter_set = set1.intersection(set2)
print(inter_set)

diff_set = set1.difference(set2)
print(diff_set)

{50, 20, 70, 87, 40, 10, 60, 45}
{40, 10}
{20, 87, 45}

__We can also create sets from any other type by using set() function__

In [156]:
tupl1= (1,2,3,4)

list1 = [10,30,45,"Noor"]

tupl_to_set = set(tupl1)
print(tupl_to_set)
print(type(tupl_to_set))


list_to_set = set(list1)
print(list_to_set)
print(type(list_to_set))

{1, 2, 3, 4}
<class 'set'>
{10, 'Noor', 45, 30}
<class 'set'>

## Question 4:

__*Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.__

In [35]:
# lets create a list of numbers

num_list = [1,4,6,5,2,9,3,7]


# These are additional statements to show result in a better form
print("Input :-")
for i in num_list:
    print(i, end=" ")
    

# To find the missing value we will loop through a range of numbers from 1 to the hightest number in the list 
# and then use the 'not in' operator to check which number is missing

print("\nOutput :-")
for i in range(1,max(num_list)):
    if i not in num_list:
        print(i)

Input :-
1 4 6 5 2 9 3 7
Output :-
8

## Question 5:

__*With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.__

In [56]:
# lets take a list which consist of duplicate values
L = [1,5,7,5,8,7,9,8,5,1]

# Then we will convert the list into set which will automatically remove the duplicate values because set take unique values
temp = set(L)

# We again convert set into list 
new_list = list(new_list)

# These are unique additional statements to show the result into a better form 
print("Input :-")
for i in L:
    print(i, end=" ")


print("\nOutput :-")   
for i in new_list:
    print(i, end=" ")

Input :-
1 5 7 5 8 7 9 8 5 1
Output :-
1 5 7 8 9